<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Maisa Solutions</title>
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #f9f9f9; margin: 0px; padding: 0px;" bgcolor="#f9f9f9">
<div style="width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3b4854; background-color: #ffffff; margin: 0 auto;">
  <div style="width: 96%; height: 90px; padding-left: 2%; padding-right: 2%;">
    <div style="float: right; margin-top: 10px;">   <a href="https://www.facebook.com/MaisaSolutions"><img src="http://blog.maisasolutions.com/img/icon_facebook.png" width="30" height="30" alt=""></a> <a href="https://twitter.com/maisasolutions"> <img src="http://blog.maisasolutions.com/img/icon_twitter.png" width="30" height="30" alt=""></a> <a href="https://plus.google.com/+Maisasolutions/posts"> <img src="http://blog.maisasolutions.com/img/icon_google+.png" width="30" height="30" alt=""></a> <a href="https://www.linkedin.com/company/maisa-solutions"> <img src="http://blog.maisasolutions.com/img/icon_linked.png" width="30" height="30" alt=""></a> <a href="https://www.youtube.com/watch?v=v5GpjKcUrF8&amp;feature=youtu.be"> <img src="http://blog.maisasolutions.com/img/icon_youtube.png" width="30" height="30" alt=""></a> </div>
    <img style="margin-top: 10px;" src="http://blog.maisasolutions.com/img/maisa_logo.png" width="280" height="62" alt=""> </div>
  <div style="width:100%;">
    <div style="width:600px; height:250px; ">
      <img src="http://blog.maisasolutions.com/img/email-web-mobile-2.jpg" style="display:block;" width="600">
    </div>
  </div>
  <div style="width:100%; padding-top:5px;">
    <div style="padding-left:10px; padding-right:10px;">
      <p><b>Maisa Solutions</b> is your ideal IT partner offering various Information Technology Services and Products. We are creators, designers, engineers, educators and problem solvers. Our highly skilled & motivated team offers one-of-a-kind global IT services. Let us help you create next big thing...</p>
    </div>
    <div style="width:100%; font-family: 'Oswald', sans-serif;">
      <div style="text-align:center; padding-left:10px; padding-right:10px; ">
        <img width="569" src="http://blog.maisasolutions.com/img/rails-mobile-dev.PNG">
      </div>
    </div>
    <div style="width:100%">
      <div style="padding-left:10px; padding-right:10px;">
        <h3 style="color:#c52128; margin-bottom:0px;">Practices We Follow:</h3>
        <p style="text-align:justify; margin-top:5px;">At Maisa we use a very interactive and highly productive software development methodology, better known as "<b>AGILE METHODOLOGY</b>", across our projects. Having widely adopted AGILE SCRUM methodology not only makes us productive but also gives freedom to our Customers for any changes in requirements during project execution(SDLC).</p>
      </div>
    </div>
    <div style="width:100%; margin-top:20px;">
      <div style="padding-left:10px; padding-right:10px;">
        <h3 style="color:#c52128; margin-bottom:0px;">Technologies We Use:</h3>
        <p style="margin-top:5px;">We always use the most updated and cutting-edge technologies in our development process to build outstanding applications whether it be for web or mobile platform. We are expert on these following technologies:</p>
        <img style="margin-top:10px; margin-bottom:20px;" width="580" src="http://blog.maisasolutions.com/img/web-mobile-logos.png">
      </div>
    </div>

    <div style="width:100%; margin-top:20px;">
      <div style="padding-left:10px; padding-right:10px;">
        <h3 style="color:#c52128; margin-bottom:5px;">We have partnered with:</h3>
        <a href="http://www.maisasolutions.com/"> <img style="text-align: left;" src="http://blog.maisasolutions.com/img/partner_logos.png" width="580" height="286" alt="Partners"></a>
      </div>
    </div>


    <div style="width: 100%; margin-top: 5px; background-color: #f5f5f5; font-size: 13px; padding: 10px 0;">
      <div style="padding-left: 10px; padding-right: 10px;">
        <h2 style="text-align: center; color: #c52128; margin: 5px auto;" align="center">Let's talk</h2>
        <h3 style="text-align: center; color: #c52128; margin: 5px auto;" align="center">Name: <span style="color: #3b4854;">Dave Arora</span> Call: <span style="color: #3b4854;">+1-707-260-3585</span> Email: <a href="mailto:darora@maisasolutions.com">darora@maisasolutions.com</a> </h3>
      </div>
    </div>
    <div style="width: 100%; background-color: #eeeeee; border-top-width: 1px; padding: 10px 0; border-top-style: solid; border-top-color: #dddddd; font-size: 11px; text-align: center;" align="center">
      <div style="padding-left: 10px; padding-right: 10px;">
        <p style="margin: 2px auto;"><b>US Office: </b>Maisa Solutions, Inc. 555 California Street, Suite 4925, San Francisco, CA - 94104. <a href="http://www.maisasolutions.com">www.maisasolutions.com</a> </p>
        <p style="margin-top: 8px;"> You received this message because you have participated in a networking event hosted by our partner network or accepted our invitation on social networking sites to receive email from Maisa Solutions, Inc.</p>
      </div>
    </div>

  </div>
</div>
</body>
</html>